/*--=================== Google font ===================--*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
  box-sizing: border-box;

}

body {
  /*background-color: #1d1d1d;*/
  background-color: #111111;
  color: #fff;
  font-family: "Caveat", cursive;
  margin: 0;
}