.message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
}

.message span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    color: rgb(39, 238, 39);
}

.hide {
    display: none;
}